<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PizzaMania">
        <!-- If you have a custom Application class, add:
             android:name=".PizzaManiaApp"
             and ensure that class exists in com.pizzamania -->
        <activity
            android:name="com.example.pizzamaniaapp.app.ui.auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.AdminDashboardActivity"
            android:exported="true" />

        <activity
            android:name=".ui.admin.AddMenuActivity"
            android:exported="false" />

        <activity
            android:name="com.example.pizzamaniaapp.ui.admin.AdminRegisterActivity"
            android:exported="false" />

        <activity
            android:name="com.example.pizzamaniaapp.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>